# Python 기초

## 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3.7/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.7버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

## 식별자

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름이다. 

* 식별자의 이름은 영문알파벳, \_, 숫자로 구성된다.
* 첫 글자에 숫자가 올 수 없다. 
* 대소문자를 구별한다.
* 아래의 예약어는 사용할 수 없다. 

```
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [ ]:
# 식별자들을 직접 확인해봅시다.
import keyword
keyword.kwlist

*  내장함수나 모듈 등의 이름으로도 만들면 안된다.

In [ ]:
# 5를 string으로 바꿔봅시다.
str(5)
'5'

In [ ]:
# 예시로 str에 값을 할당해보고, 오류를 확인해봅시다.
str(5)
str = 'hello'

In [ ]:
# 뒤에 코드에 영향이 가니까 변수를 메모리에서 지워줍시다!!!!
del str

## 기초 문법

### 인코딩 선언

인코딩은 선언하지 않더라도 `UTF-8`로 기본 설정이 되어 있다. 

만약, 인코딩을 설정하려면 코드 상단에 아래와 같이 선언한다. 
주석으로 보이지만, Python `parser`에 의해 읽혀진다.

```python
# -*- coding: <encoding-name> -*- 
```

### 주석(Comment)

* 주석은 `#`으로 표현한다. 
* `docstring`은 `"""`으로 표현한다. 
   
   : 여러 줄의 주석을 작성할 수 있으며, 보통 함수/클래스 선언 다음에 해당하는 설명을 위해 활용한다.
   
  
* 예시 : flask 공식 문서 일부 발췌

![flask 공식문서 예시](./images/01/docstring.png)

In [2]:
# 주석을 연습해봅시다. 
def mysum(x,y) :
    '''이것은 덧셈 함수입니다.
    이 줄은 실행이 되지 않습니다.
    docstring을 쓰는 이유는 __doc__
    '''
    return x + y

mysum.__doc__

'이것은 덧셈 함수입니다.\n    이 줄은 실행이 되지 않습니다.\n    docstring을 쓰는 이유는 __doc__\n    '

In [ ]:
# docstring은 다음과 같이 확인할 수 있습니다.

### 코드 라인
* 기본적으로 파이썬에서는 `;` 을 작성하지 않는다.

* 한 줄로 표기할 떄는 `;`를 작성하여 표기할 수 있다.

In [3]:
# print문을 두번 써보자.
print('KIm')
print('byungchul')

KIm
byungchul

In [6]:
# print문을 한줄로 이어서 써봅시다. 오류 메시지를 확인해주세요.
print('kim') print('bc')

SyntaxError: invalid syntax (<ipython-input-6-7e251d483c87>, line 2)

In [7]:
# ;을 통해 오류를 해결해봅시다.
print('kim');print('bc')

kim
bc

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [11]:
# print문을 통해 안되는 코드 예시 작성해봅시다.
print('\
      파이썬은 쉽다. \
      파이썬은 강력하다.\
      ')

      파이썬은 쉽다.       파이썬은 강력하다.

In [ ]:
# print문을 통해 되는 코드 예시 작성해봅시다.

* `[]` `{}` `()`는 `\` 없이도 가능하다.

In [12]:
# list를 두 줄에 걸쳐서 만들어봅시다.
menu = [
    "짬뽕",
    "햄버거",
    "닭도리탕",
    "부대찌개"
]

matjip = {
    "백짬뽕" : "베이징코야",
    "햄버거" : "바스버거",
    "닭도리탕" : "고갯마루",
    "부대찌개" : "대우식당",
    "돼지고기" : "백운봉 막국수"
}

# 변수(variable) 및 자료형


<center><img src="./images/01/variable.png", alt="variable"/></center>


<center><img src="./images/01/box.png", alt="box"/></center>

* 변수는 `=`을 통해 할당(assignment) 된다. 

* 해당 자료형을 확인하기 위해서는 `type()`을 활용한다.

* 해당 변수의 메모리 주소를 확인하기 위해서는 `id()`를 활용한다.

In [14]:
# 변수에 값을 할당해 봅시다.
x = 'ssafy'

In [15]:
# type()을 사용해 봅시다.
type(x)

str

In [17]:
# id()를 사용해 봅시다.
hex(id(x))

'0x6266f40'

* 같은 값을 동시에 할당할 수 있다.

In [20]:
# 같은 값을 동시에 할당해봅시다.

x = y = z = 1004
print(id(x))
print(id(y))
print(id(z))

102866704
102866704
102866704

* 다른 값을 동시에 할당 가능하다.

In [22]:
# 동시에 두개의 변수에 값 두개를 할당해봅시다.
name, age = 'kim', 28          # (name, age) = ('kim', 28)
print(name)
print(age)

kim
28

In [23]:
# 변수의 개수가 더 많을 때 오류를 알아봅시다.
x, y = 1

TypeError: cannot unpack non-iterable int object

In [24]:
# 변수의 개수가 더 적을 때 오류를 알아봅시다.

a,b =1,2,3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능하다.

In [27]:
# 변수 x와 y의 값을 바꿔봅시다.
x,y = 5, 10

print(x)
print(y)

x,y = y,x

print(x)
print(y)

z = x
x = y
y = z

print(x)
print(y)

5
10
10
5
5
10

## 수치형(Numbers)

###  `int` (정수)

모든 정수는 `int`로 표현된다.

파이썬 3.x 버전에서는 `long` 타입은 없고 모두 `int` 형으로 표기 된다.

10진수가 아닌 8진수 : `0o`/2진수 : `0b` /16진수: `0x`로도 표현 가능하다.

In [31]:
# 변수에 정수를 넣고 해당 변수의 type을 알아봅시다.
a = 3.5
b = 3
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [ ]:
# python 3.x에서 long은 없어졌습니다.
# 보통 프로그래밍 언어 및 파이썬 2.x에서의 long은 OS 기준 32/64비트이다.
# 파이썬 3.x에서는 모두 int로 통합되었다.

### 오버플로우(overflow)
- 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있다.
- 표현할 수 있는 수의 범위를 넘어가는 연산을 하게 되면, 기대했던 값이 출력되지 않는 현상, 즉 메모리가 차고 넘쳐 흐르는 현상

### arbitrary-precision arithmetic
- 파이썬에서 아주 큰 정수를 표현할 때 사용하는 메모리의 크기 변화
- 사용할 수 있는 메모리양이 정해져 있는 기존의 방식과 달리, 현재 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태.
- 특정 값을 나타내는데 4바이트가 부족하다면 5바이트, 더 부족하면 6바이트까지 사용 할 수 있게 유동적으로 운용.

In [34]:
# 파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
# 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형에서 오버플로우가 없다.
# arbitrary-precision arithmetic를 사용하기 때문이다.
import sys
max_int = sys.maxsize
print(max_int)
big = max_int * max_int        #arbitrary-precision arithmetic 최대사이즈를 곱해도 연산가능
print(big)
rl_big = big * big
print(rl_big)

2147483647
4611686014132420609
21267647892944572736998860269687930881

In [40]:
# n진수를 만들어보고, 출력 해봅시다.
binary_num = 0b10
print(binary_num)
octal_num = 0o10
print(octal_num)
decimal_num = 10
print(decimal_num)
hexadecimal_num = 0x10
print(hexadecimal_num)

2
8
10
16

### `float`(부동소수점, 실수)

실수는 `float`로 표현된다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, **항상 같은 값으로 일치되지 않는다. (floating point rounding error)**

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있다.

In [42]:
# 변수에 실수를 넣고 해당 변수의 type을 알아봅시다.
a =3.5
print(a)
type(a)

3.5

float

In [45]:
# e를 사용할 수도 있습니다.
b = 314e-2
print(b)
type(b)

3.14

float

* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있다.

In [48]:
# 실수의 덧셈을 해봅시다.
3 + 3.5

6.5

In [49]:
# 실수의 뺄셈을 해봅시다.
3.5 - 3.14

0.3599999999999999

In [51]:
# 우리가 원하는대로 반올림을 해봅시다.
round(3.5-3.14,2)

0.36

In [53]:
# 두 개의 값이 같은지 확인해봅시다.
(3.5 - 3.15) == 0.35

False

* 따라서 다음과 같은 방법으로 처리 할 수 있다. 이외에 다양한 방법이 있음

In [56]:
# 기본적인 처리방법을 알아봅시다.
a = 3.5 - 3.15
b = 0.35
abs(a - b) <= 1e-10

True

In [57]:
# sys 모듈을 통해 처리하는 방법을 알아봅시다.
import sys
abs(a-b) <= sys.float_info.epsilon

True

In [58]:
# python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.
import math
math.isclose(a,b)

True

### `complex` (복소수)

복소수는 허수부를 `j`로 표현한다.

In [61]:
# 변수에 복소수를 넣고 해당 변수의 type을 알아봅시다.
a = 3 + 1j
type(a)

complex

In [63]:
# 복소수와 관련된 메소드들을 확인해봅시다.
a.imag
a.real

3.0

## Bool

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있다.

비교/논리 연산을 수행 등에서 활용된다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [66]:
# True와 False의 타입들을 알아봅시다.
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

* 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [76]:
# 다양한 True, False 상황들을 확인해봅시다.
print(bool(0))
print(bool(1))
print(bool(None))
print(bool([]))
print(bool({}))
print(bool(''))
print(bool(['helo']))
print(bool({'2':'3'}))

False
True
False
False
False
False
True
True

## None

파이썬에서는 값이 없음을 표현하기 위해 `None`타입이 존재합니다.

In [84]:
# None의 타입을 알아봅시다.
sorted_list = [5,4,3,2,1].sort()

original_list = [9,8,7,6,5]
original_list.sort()

print(original_list)
print(sorted_list)

[5, 6, 7, 8, 9]
None

In [83]:
# 변수에 저장해서 확인해봅시다.
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

## 문자형(String)

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능하다. 

* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [87]:
# 변수에 문자열을 넣고 출력해봅시다.
pro_said = '김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"'
print(pro_said)

name = '김병철'
print(name, pro_said)
print(name + ' ' + pro_said)

김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"
김병철 김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"
김병철 김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"

In [89]:
# 사용자에게 받은 입력은 기본적으로 str입니다
age = input("당신의 나이를 입력해 주세요 : ")
print(age)

당신의 나이를 입력해 주세요 : 31
31

* 다만 문자열 안에 문장부호(`'`, `"`)가 활용될 경우 이스케이프 문자(`\`)를 사용하는 것 대신 활용 가능 합니다.

In [94]:
# 문자열 안에 문장부호를 활용해서 오류를 확인해봅시다.
print('철수가 말했다, \'안녕\'')
print('철수가 말했다, "안녕"')

철수가 말했다, '안녕'
철수가 말했다, "안녕"

In [ ]:
# 오류를 이스케이프 문자와 서로 다른 문장부호를 통해 해결해봅시다.

* 여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

`PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있습니다.

In [95]:
# 여러줄을 출력해봅시다.
print('여러줄에\
      걸쳐서\
      출력하기')
print("""여러줄에
        #걸쳐서
        #출력하기""")

여러줄에      걸쳐서      출력하기
여러줄에
        #걸쳐서
        #출력하기

In [100]:
# 물론 string interpolation도 가능합니다.
# 1. concatenation 합체

greeting = '안녕하세요'+'저는'+ 'john'
print(greeting)

# 2. interpolatiion(보간법 수술(사입))
name = 'john'
greeting2 = f'안녕하세요, 저는 {name}입니다.'
print(greeting2)

안녕하세요저는john
안녕하세요, 저는 john입니다.

## 이스케이프 문자열

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분한다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|`\\`|`\`|
|\'|단일인용부호(')|
|\"|이중인용부호(")|

In [104]:
# 이스케이프 문자열을 조합하여 프린트해봅시다.
print('SSAFY는\n최고의')
print('SSAFY is the \t best')
print('SSAFY is the \r best')
print('SSAFY \\is the ')

SSAFY는
최고의
SSAFY is the 	 best
 best
SSAFY \is the

* 이를 출력할 때 활용할 수가 있다.

In [106]:
# print를 하는 과정에서도 이스케이프 문자열을 활용 가능합니다.
print('내용을 띄워서 출력하고 싶으면', end ='\n') #defalt로 한칸 
print('이렇게 하시면 되요', end = '')
print('붙었쥬?')

내용을 띄워서 출력하고 싶으면
이렇게 하시면 되요붙었쥬?

In [107]:
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
print('위와 같은 개행문자 말고도 다양한 문자를 넣을 수 있습니다.')
print('예를 들어 느낌표,', end = '!')

위와 같은 개행문자 말고도 다양한 문자를 넣을 수 있습니다.
예를 들어 느낌표,!

### String interpolation 

1) `%-formatting` 

2) [`str.format()` ](https://pyformat.info/)

3) [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 버전 이후에 지원 되는 사항입니다.

`.format()`는 해당 [링크](https://pyformat.info/)에서 확인바랍니다.

In [111]:
# name 변수에 이름을 입력해봅시다.
name = 'Kim Byung Chul'
age = 28
major = 'IE'
address = 'suwon'

In [115]:
# %-formatting을 활용해봅시다.
print('Hello, I am name i am age years old I majored in major I live in address')
print('Hello, I am %s, I am %i years old I majored in %s, I live in %s' % (name, age,major,address))

Hello, I am name i am age years old I majored in major I live in address
Hello, I am Kim Byung Chul, I am 28 years old I majored in IE, I live in suwon

In [112]:
# str.format()을 활용해봅시다.
print('Hello, I am {0}, I am {1} years old, I majored in {2}, I live in {3}'.format(name, age, major, address))

Hello, I am Kim Byung Chul, I am 28 years old, I majored in IE, I live in suwon

In [116]:
# f-string을 활용해봅시다.
print(f'Hello, I am {name}, I am {age} years old, I majored in {major}, I live in {address}')

Hello, I am Kim Byung Chul, I am 28 years old, I majored in IE, I live in suwon

* f-strings에서는 형식을 지정할 수 있으며,

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.

In [126]:
import datetime
today = datetime.datetime.now()
print(today)

# 오늘은 xxxx년 xx월 xx일 xx
print (f'오늘은 {today.year}년 {today.month}월 {today.day}일 {today:%A} {today.hour}시 {today.minute}분')

2019-07-15 14:19:02.838057
오늘은 2019년 7월 15일 Monday 14시 19분

* 연산과 출력형식 지정도 가능합니다.

In [127]:
# string interpolation에서 연산과 숫자 출력형식을 지정해봅시다.
pi = 3.141592
radius = 2
f'원주율이 {pi}일 때, 반지름이 {radius}인 원의 넓이는 {pi * (radius ** 2)}'

'원주율이 3.141592일 때, 반지름이 2인 원의 넓이는 12.566368'

# 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

In [129]:
# 2의 1000승을 확인해봅시다.
print(2 ** 1000)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [135]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.
print(5/2)
print(5//2)
print(int(5//2))
print(5%2)             # mod

2.5
2
2
1

In [143]:
# divmod는 나눗셈과 관련된 함수입니다.

quotient, remainder = divmod(13,3)
print(f'몫은 :{quotient}, 나머지는 {remainder}')

몫은 :4, 나머지는 1

* 양수/음수도 표현 가능합니다.

In [142]:
# 음수 양수 표현도 해봅시다.
pos = 4
print(-pos)
neg = -4
print(-neg)

-4
4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|a > b|초과|
|a < b|미만|
|a >= b|이상|
|a <= b|이하|
|a == b|같음|
|a != b|같지않음|

In [144]:
# 숫자의 대소관계를 비교해봅시다.
3 < 6

True

In [145]:
# 같은 숫자인지 확인해봅시다.

3 == 3

True

In [150]:
# 다른 숫자인지 확인해봅시다.

print(3 != 3)

print(3.0 == 3)

False
True

In [151]:
# 문자열도 같은지 확인해봅시다.
print('abc' == 'abc')
print('ABC' == 'abc')

True
False

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자이다.

In [152]:
# and과 관련해서 모든 case를 출력해봅시다.
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [155]:
# or과 관련해서 모든 case를 출력해봅시다.
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [159]:
# not을 활용해봅시다.
print(not True)
print(not 0)
print(not '')
print(not [])

False
True
True
True

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴한다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴한다.

In [169]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)
print(0 and False)
print(False and 0)

5
0
0
0
0
False

In [168]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)
print(False or 0)
print(0 or False)

3
3
3
0
0
False

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄진다. 

가장 많이 활용되는 경우는 반복문을 통해서 개수를 카운트하거나 할 때 활용된다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [171]:
# 복합연산자는 이럴 때 사용됩니다.
count = 0
while count < 5 :
    print(count)
    count += 1
print(count)

0
1
2
3
4
5

## 기타 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있다.

### Containment Test

`in` 연산자를 통해 속해있는지 여부를 확인할 수 있다. (중요)

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있다. (중요)


(나중에 Class를 배우고 다시 학습)

### Indexing/Slicing
`[]`를 통한 값 접근 및 `[:]`을 통한 슬라이싱 

(다음 챕터를 배우면서 추가 학습)

In [172]:
# 문자열끼리 더해봅시다.(합쳐봅시다.)
print('ssafy'+ 'best')

ssafybest

In [174]:
# list끼리 더해봅시다.(합쳐봅시다.)
print([1,2,3] + [4,5,6])
print((1,2,3)+ (4,5,6))

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [175]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
print('A' in 'SSAFY')
print('B' in 'SSAFY')

True
False

In [176]:
# list안에 특정한 원소가 있는지 확인해봅시다.
print(3 in [1,2,3,4,5])

True

In [177]:
# range안에 특정한 원소가 있는지 확인해봅시다.
print(30 in range(1,45))
print(45 in range(1,45))

True
False

In [194]:
# is는 맛만 봅시다.
# 파이썬에서 -5부터 256까지의 id는 동일합니다.
print(id(-5) , id(256)) #어디서 써도 동일한 id를 가짐 id가 변하지 않음 (자주쓰이는 숫자이기 때문)

print(id(257))          #256 보다 큰수는 입력할때 새로운 id를 부여함
print(id(257))
print(id(-5))
print(id(-5))
print(id(-10) is id(-10))
print(id(-5) is id(-5))
print(257 is 257)

1891853312 1891857488
111469056
111471760
1891853312
1891853312
False
False
True

In [192]:
# id는 다르죠!
a = 257
b = 257
a is b

False

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing

2. Indexing

3. 제곱연산자
    \*\*

4. 단항연산자 
    +, - (음수/양수 부호)

5. 산술연산자
    \*, /, %
    
6. 산술연산자
    +, -
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

In [197]:
# 우선순위를 확인해봅시다.
print((-3) ** 4)
print(-3 ** 4)

81
-81

# 기초 형변환(Type conversion, Typecasting)


파이썬에서 데이터타입은 서로 변환할 수 있다.

## 암시적 형변환(Implicit Type Conversion)
사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우이다.
아래의 상황에서만 가능하다.
* bool
* Numbers (int, float, complex)

In [200]:
# boolean과 integer는 더할 수 있을까요?
print(True + 3)             #암시적 형변환
print(False + 3)
print(True + 1.1)

4
3
2.1

In [202]:
# int, float, complex를 각각 변수에 대입해봅시다.
int_num = 3
float_num = 5.0
complex_num = 3 + 5j

print(int_num + float_num)
print(int_num + complex_num)
print(float_num + complex_num)

8.0
(6+5j)
(8+5j)

In [204]:
# int와 float를 더해봅시다. 그 결과의 type은 무엇일까요?
type(3 + 3.5)

float

In [206]:
# int와 complex를 더해봅시다. 그 결과의 type은 무엇일까요?
type(int_num + complex_num)

complex

## 명시적 형변환(Explicit Type Conversion)

위의 상황을 제외하고는 모두 명시적으로 형 변환을 해주어야한다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능하다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list(), tuple()` 등은 다음 챕터에서 배울 예정이다.

In [207]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.
str(1) + '등'

'1등'

In [208]:
# string 3을 integer로 변환해봅시다.
type(int('3'))

int

In [210]:
# string 3.5를 float로 변환해봅시다.
type(float('3.5'))

float

In [211]:
# string은 글씨가 숫자일때만 형변환이 가능합니다
type(int('qwe'))

ValueError: invalid literal for int() with base 10: 'qwe'

In [216]:
# string 3.5를 int로 변환할 수는 없습니다.
#int('3.5')
int(float('3.5'))

3

In [214]:
# float 3.5는 int로 변환이 가능합니다.
int(3.5)

3

# 시퀀스(sequence) 자료형

`시퀀스`는 데이터의 순서대로 나열된 형식을 나타낸다. 

**주의! 순서대로 나열된 것이 정렬되었다라는 뜻은 아니다.**

파이썬에서 기본적인 시퀀스 타입은 다음과 같다.

1. 리스트(list)

2. 튜플(tuple)

3. 레인지(range)

4. 문자열(string)

5. 바이너리(binary) : 따로 다루지는 않습니다.


## `list`

<center><img src="./images/01/list.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [217]:
# 빈 리스트를 만들어봅시다.
l = []
ll = list()
print(l)
print(ll)

[]
[]

In [218]:
# 원소를 포함한 리스트를 만들어봅시다.
location = ["강남", "강북", "강동", "강서"]
print(location)
print(type(location))

['강남', '강북', '강동', '강서']
<class 'list'>

In [219]:
# 첫번째 값에 접근해봅시다.
location[0]

'강남'

## `tuple`

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 **tuple은 수정 불가능(immutable)하고, 읽을 수 밖에 없습니다.**

직접 사용하는 것보다는 파이썬 내부에서 사용하고 있습니다.

In [222]:
# tuple을 만들어봅시다.
tp = ()
print(tp)
print(type(tp))

()
<class 'tuple'>
<class 'tuple'>

In [224]:
# 아래와 같이 만들 수 있습니다.
x = 5
y = 3
(x,y) = (y,x)
tp2 = 1,2,3,4,5
print(tp2)
print(type(tp2))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [226]:
# 파이썬 내부에서는 다음과 같이 활용됩니다.
# 앞선 2. 변수 및 자료형 예제에서 사용된 코드입니다.
x,y = 1,2 
print(x)
print(y)

1
2

In [227]:
# 실제로는 tuple로 처리됩니다.
x,y =(1,2)
(x,y) = 1,2

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

##  `range()`

레인지는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [236]:
# range를 만들어봅시다.
print(range(1,46))
print(type(range(1,46)))

r = range(1,10)
l = [1,2,3,4,5,6,7,8,9]
for x in r :
    print (x)
print('')
for y in l :
    print(y)

print(list(r) == l)
print(r == l)

range(1, 46)
<class 'range'>
1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9
True
False

In [237]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [239]:
# 4 ~ 8까지의 숫자를 담은 range를 만들어봅시다.
list(range(4,9))

[4, 5, 6, 7, 8]

In [253]:
# 0부터 -9까지 담긴 range를 만들어봅시다.
print(list(range(-9,1)))
print(list(range(0,-10,-1)))
print(list(range(-9,1)) == list(range(0,-10,-1)))
print(list(range(-9,1)) == sorted(list(range(0,-10,-1))))

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
False
True


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x in s	|containment test|
|x not in s|containment test|
|s1 + s2|concatenation|
|s * n|n번만큼 반복하여 더하기
|s[i]|indexing|
|s[i:j]|slicing|
|s[i:j:k]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [257]:
# contain test를 확인해봅시다.
l = [1,2,3,4,5]
print(3 in l)
tp = (1,2,3,4,5)
print(3 in tp)

True
True

In [255]:
# concatenation를 해봅시다.
print(3 not in l)
print(6 not in l)

False
True

In [266]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
ll = [0]
print(ll*6)

[0, 0, 0, 0, 0, 0]

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
l = [1,2,3,4,5,6]

In [274]:
# 두번쨰, 세번쨰 값만 가져와봅시다.
print(l[1:3])
print(location[1:3])
print(location[::-1])      #리스트를 반대로 뒤집을때!, str에서도!
'ssafy'[::-1]

[2, 3]
['강북', '강동']
['강서', '강동', '강북', '강남']

'yfass'

In [276]:
# 0부터 30까지의 숫자를 3씩 증가시킨 상태로 만들어봅시다.
lll = list(range(0,31,3))
print(lll)
llll= list(range(31))
lllll = [x+3 for x in llll]
print(lllll)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [261]:
# 위에서 만든 list의 길이를 확인해봅시다.
len(lll)

11

In [263]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.
print(max(lll))
print(min(lll))

30
0

In [265]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.
lll.count(3)

1

# set, dictionary

* `set`과 `dictionary`는 기본적으로 순서가 없습니다.

## `set`

세트는 수학에서의 집합과 동일하게 처리됩니다. 

세트는 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

**활용법**
```python
{value1, value2, value3}
```

|연산자/함수|설명|
|---|---|
|a - b|차집합|
|a \| b|합집합|
|a & b|교집합|
|a.difference(b)|차집합|
|a.union(b)|합집합|
|a.intersection(b)|교집합|

In [278]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
set_A = {1,2,3}
set_B = {3,6,9}

print(set_A - set_B)
print(set_A | set_B)
print(set_A & set_B)
print(set_A.difference(set_B))
print(set_A.union(set_B))
print(set_A.intersection(set_B))

{1, 2}
{1, 2, 3, 6, 9}
{3}
{1, 2}
{1, 2, 3, 6, 9}
{3}

In [281]:
# set은 중복된 값이 있을 수 없습니다.
LIST_1 = [1,2,2,2,3,3,4,5,6,6,7]
print(set(LIST_1))
list(set(LIST_1))

{1, 2, 3, 4, 5, 6, 7}

[1, 2, 3, 4, 5, 6, 7]

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.

## `dictionary`

<center><img src="./images/01/dictionary.png"/></center>

**활용법**
```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* 딕셔너리는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조입니다. 
* `{}`를 통해 만들며, `dict()`로 만들 수도 있습니다.
* `key`는 immutable한 모든 것이 가능하다. (불변값 : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [282]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
dict_a = {}

dict_b = dict()

print(dict_a)
print(dict_b)

{}
{}

In [287]:
# 지역번호(서울-02 경기-031 인천-032)가 담긴 전화번호부를 만들어봅시다.
phone_book = {
    "서울" : '02' ,
    "경기" : '031',
    "인천" : '032',
    "서울" : '03'
}

phone_book0 = {}

phone_book0['서울'] = '02'
phone_book0['경기'] = '031'
phone_book0['인천'] = '032'
phone_book0['서울'] = '03'                      # 중복된 키에 해당하는 값이 가장 최근에 입력한 값으로 바뀌는 이유

print(phone_book)

{'서울': '03', '경기': '031', '인천': '032'}

In [ ]:
# dictionary는 중복된 key는 존재할 수가 없습니다.

In [288]:
# 딕셔너리의 메소드를 활용하여 key를 확인 해볼 수 있습니다.
phone_book.keys()

dict_keys(['서울', '경기', '인천'])

In [293]:
# 딕셔너리의 메소드를 활용하여 value를 확인 해볼 수 있습니다.
print(type(phone_book.values()))
print(phone_book.values())
print(list(phone_book.values())[0])

<class 'dict_values'>
dict_values(['03', '031', '032'])
03

# 정리
## 데이터 타입
<center><img src="./images/01/container.png", alt="container"/></center>